
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.0/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer1 */
.ui-content.Casuf_home_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* mobilegrid_12 */
.Casuf_home_mobilegrid_12 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Casuf_home_mobilegrid_12 > tr > td {
	vertical-align: top;
}
.Casuf_home_mobilegrid_12_row_0, .Casuf_home_mobilegrid_12_row_0 > td {
	height: 57px
}
.Casuf_home_mobilegrid_12_row_1, .Casuf_home_mobilegrid_12_row_1 > td {
	height: 57px
}
.Casuf_home_mobilegrid_12_row_2, .Casuf_home_mobilegrid_12_row_2 > td {
	height: 57px
}
/* mobilegridcell_13 */
.Casuf_home_mobilegridcell_13 {
	height:57px !important;
	width:57px;
	padding: 0px 0px 0px 0px;
}
.Casuf_home_mobilegridcell_13 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* menuimg_1 */
.Casuf_home_menuimg_1 {
	margin: 0px 0px 0px 0px;
	width: 57px; height: 57px;
	display: block;
}
/* mobilegridcell_14 */
.Casuf_home_mobilegridcell_14 {
	height:57px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Casuf_home_mobilegridcell_14 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* menubut_1 */
#Casuf_home_menubut_1 {

}
.ui-btn.Casuf_home_menubut_1 {
	margin: 3px 0px 0px 0px;
}
/* mobilegridcell_15 */
.Casuf_home_mobilegridcell_15 {
	height:57px !important;
	width:57px;
	padding: 0px 0px 0px 0px;
}
.Casuf_home_mobilegridcell_15 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_21 */
.Casuf_home_mobileimage_21 {
	margin: 4px 0px 4px 0px;
	width: 50px; height: 50px;
	display: block;
}
/* mobilegridcell_16 */
.Casuf_home_mobilegridcell_16 {
	height:57px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Casuf_home_mobilegridcell_16 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* menubut_2 */
#Casuf_home_menubut_2 {

}
.ui-btn.Casuf_home_menubut_2 {
	margin: 3px 0px 0px 0px;
}
/* mobilegridcell_17 */
.Casuf_home_mobilegridcell_17 {
	height:57px !important;
	width:57px;
	padding: 0px 0px 0px 0px;
}
.Casuf_home_mobilegridcell_17 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_23 */
.Casuf_home_mobileimage_23 {
	margin: 4px 0px 4px 0px;
	width: 50px; height: 50px;
	display: block;
}
/* mobilegridcell_18 */
.Casuf_home_mobilegridcell_18 {
	height:57px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Casuf_home_mobilegridcell_18 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* connectbutton_1 */
#Casuf_home_connectbutton_1 {

}
.ui-btn.Casuf_home_connectbutton_1 {
	margin: 3px 0px 0px 0px;
}
/* mobilegrid_24 */
.Casuf_home_mobilegrid_24 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Casuf_home_mobilegrid_24 > tr > td {
	vertical-align: top;
}
.Casuf_home_mobilegrid_24_row_0, .Casuf_home_mobilegrid_24_row_0 > td {
	height: 57px
}
/* mobilegridcell_25 */
.Casuf_home_mobilegridcell_25 {
	height:57px !important;
	width:57px;
	padding: 2px 2px 2px 2px;
}
.Casuf_home_mobilegridcell_25 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mapsimage */
.Casuf_home_mapsimage {
	margin: 4px 0px 4px 0px;
	width: 50px; height: 50px;
	display: block;
}
/* mobilegridcell_26 */
.Casuf_home_mobilegridcell_26 {
	height:57px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Casuf_home_mobilegridcell_26 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* homemap_1 */
#Casuf_home_homemap_1 {

}
.ui-btn.Casuf_home_homemap_1 {
	margin: 3px 0px 0px 0px;
}
/* mobilegrid_27 */
.Casuf_home_mobilegrid_27 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Casuf_home_mobilegrid_27 > tr > td {
	vertical-align: top;
}
.Casuf_home_mobilegrid_27_row_0, .Casuf_home_mobilegrid_27_row_0 > td {
	height: 57px
}
/* mobilegridcell_28 */
.Casuf_home_mobilegridcell_28 {
	height:57px !important;
	width:57px;
	padding: 2px 2px 2px 2px;
}
.Casuf_home_mobilegridcell_28 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_34 */
.Casuf_home_mobileimage_34 {
	margin: 4px 0px 4px 0px;
	width: 50px; height: 50px;
	display: block;
}
/* mobilegridcell_29 */
.Casuf_home_mobilegridcell_29 {
	height:57px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Casuf_home_mobilegridcell_29 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* browserbutton */
#Casuf_home_browserbutton {

}
.ui-btn.Casuf_home_browserbutton {
	margin: 3px 0px 0px 0px;
}
/* mobileimage_22 */
.Casuf_home_mobileimage_22 {
	margin: 4px 0px 4px 50px;
	width: 200px; height: 180px;
	display: block;
}
/* mobilefooter1 */
.Casuf_home_mobilefooter1 {
	min-height:38px;
}
/*
* CSS for CasufBrowser generated by Exadel Appery
*/
/* mobilecontainer */
.ui-content.CasufBrowser_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* link_source */
.CasufBrowser_link_source {
	margin: 4px 0px 4px 0px;
}
/* open_browser_button */
#CasufBrowser_open_browser_button {

}
.ui-btn.CasufBrowser_open_browser_button {
	margin: 4px 5px 4px 5px;
}
/* browser_type_group */
.CasufBrowser_browser_type_group {
	margin: 4px 0px 4px 0px;
}
/* cordova_web_view */
.CasufBrowser_cordova_web_view {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* system_browser */
.CasufBrowser_system_browser {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* in_app_browser */
.CasufBrowser_in_app_browser {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* html_8 */
.CasufBrowser_html_8 {
	margin: 8px 5px 8px 5px;
	font-weight: normal;
	width: 100%; height: 100px;
}
div.CasufBrowser_html_8 {
	overflow: auto;
}
/* mobilefooter */
.CasufBrowser_mobilefooter {
	min-height:38px;
}
/*
* CSS for Recover generated by Exadel Appery
*/
/* mobilecontainer */
.ui-content.Recover_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilelabel_1 */
.Recover_mobilelabel_1 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* usernameinput_1 */
.Recover_usernameinput_1 {
	margin: 4px 0px 4px 0px;
}
/* recoverbutton_1 */
#Recover_recoverbutton_1 {

}
.ui-btn.Recover_recoverbutton_1 {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.Recover_mobilefooter {
	min-height:38px;
}
/*
* CSS for About generated by Exadel Appery
*/
/* mobilecontainer */
.ui-content.About_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* html_17 */
.About_html_17 {
	margin: 0px 0px 0px 0px;
	font-weight: normal;
	width: 90%; height: 500px;
}
div.About_html_17 {
	overflow: auto;
}
/* mobilefooter */
.About_mobilefooter {
	min-height:38px;
}
/*
* CSS for Maps generated by Exadel Appery
*/
/* homebutton_10 */
#Maps_homebutton_10 {

}
.ui-btn.Maps_homebutton_10 {

}
/* mobilecontainer */
.ui-content.Maps_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* google_map */
.Maps_google_map {
	width: 320px; height: 350px;
	margin: 4px 0px 4px 0px;
}
/* marker_2 */
.Maps_marker_2 {
	text-shadow:none;
	color:black;
	font-family:Arial;
}
/* get_directions */
#Maps_get_directions {

}
.ui-btn.Maps_get_directions {
	margin: 4px 5px 4px 5px;
}
/* from */
.Maps_from {
	margin: 4px 0px 4px 0px;
}
/* to */
.Maps_to {
	margin: 4px 0px 4px 0px;
}
/* place_marker */
#Maps_place_marker {

}
.ui-btn.Maps_place_marker {
	margin: 4px 5px 4px 5px;
}
/* marker_location */
.Maps_marker_location {
	margin: 4px 0px 4px 0px;
}
/* show_traffic */
#Maps_show_traffic {

}
.ui-btn.Maps_show_traffic {
	margin: 4px 5px 4px 5px;
}
/* get_markers */
#Maps_get_markers {

}
.ui-btn.Maps_get_markers {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.Maps_mobilefooter {
	min-height:38px;
}
/*
* CSS for chatScreen generated by Exadel Appery
*/
/* logoutButton */
#chatScreen_logoutButton {

}
.ui-btn.chatScreen_logoutButton {

}
/* mobilecontainer */
.ui-content.chatScreen_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* messageField */
.chatScreen_messageField {
	margin: 4px 0px 4px 0px;
}
/* mobilegrid_2 */
.chatScreen_mobilegrid_2 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.chatScreen_mobilegrid_2 > tr > td {
	vertical-align: top;
}
.chatScreen_mobilegrid_2_row_0, .chatScreen_mobilegrid_2_row_0 > td {
	height: 30px
}
/* mobilegridcell_3 */
.chatScreen_mobilegridcell_3 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.chatScreen_mobilegridcell_3 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* updateButton */
#chatScreen_updateButton {

}
.ui-btn.chatScreen_updateButton {
	margin: 4px 5px 4px 5px;
}
/* mobilegridcell_4 */
.chatScreen_mobilegridcell_4 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.chatScreen_mobilegridcell_4 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* sendButton */
#chatScreen_sendButton {

}
.ui-btn.chatScreen_sendButton {
	margin: 4px 5px 4px 5px;
}
/* html_10 */
.chatScreen_html_10 {
	margin: 0px 5px 0px 5px;
	font-weight: normal;
	width: 250px; height: 90px;
}
div.chatScreen_html_10 {
	overflow: auto;
}
/* authorField */
.chatScreen_authorField {
	text-decoration: none; font-weight: normal; color: #000000; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* dateField */
.chatScreen_dateField {
	text-decoration: none; font-weight: normal; color: #000000; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* textField */
.chatScreen_textField {
	text-decoration: none; font-weight: normal; color: #000000; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilefooter */
.chatScreen_mobilefooter {
	min-height:38px;
}
/*
* CSS for Register generated by Exadel Appery
*/
/* mobilecontainer */
.ui-content.Register_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilelabel_1 */
.Register_mobilelabel_1 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* enteremail_1 */
.Register_enteremail_1 {
	margin: 4px 0px 4px 0px;
}
/* registerbutton_1 */
#Register_registerbutton_1 {

}
.ui-btn.Register_registerbutton_1 {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.Register_mobilefooter {
	min-height:38px;
}
/*
* CSS for logIn generated by Exadel Appery
*/
/* mainButton */
#logIn_mainButton {

}
.ui-btn.logIn_mainButton {

}
/* mobilecontainer */
.ui-content.logIn_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilelabel_1 */
.logIn_mobilelabel_1 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* loginField */
.logIn_loginField {
	margin: 4px 0px 4px 0px;
}
/* mobilelabel_3 */
.logIn_mobilelabel_3 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* passwordField */
.logIn_passwordField {
	margin: 4px 0px 4px 0px;
}
/* loginButton */
#logIn_loginButton {

}
.ui-btn.logIn_loginButton {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.logIn_mobilefooter {
	min-height:38px;
}
/*
* CSS for Twitter generated by Exadel Appery
*/
/* mobilecontainer */
.ui-content.Twitter_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* searchInput */
.Twitter_searchInput {
	margin: 4px 0px 4px 0px;
}
/* searchButton */
#Twitter_searchButton {

}
.ui-btn.Twitter_searchButton {
	margin: 4px 5px 4px 5px;
}
/* mobilegrid_3 */
.Twitter_mobilegrid_3 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Twitter_mobilegrid_3 > tr > td {
	vertical-align: top;
}
.Twitter_mobilegrid_3_row_0, .Twitter_mobilegrid_3_row_0 > td {
	height: 30px
}
.Twitter_mobilegrid_3_row_1, .Twitter_mobilegrid_3_row_1 > td {
	height: 30px
}
/* outputGrid_1 */
.Twitter_outputGrid_1 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Twitter_outputGrid_1 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* innerGrid */
.Twitter_innerGrid {
	height: auto;
	width:100%;
	margin: 0px 0px 0px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Twitter_innerGrid > tr > td {
	vertical-align: top;
}
.Twitter_innerGrid_row_0, .Twitter_innerGrid_row_0 > td {
	height: 30px
}
/* mobilegridcell_11 */
.Twitter_mobilegridcell_11 {
	height:30px !important;
	width:79px;
	padding: 0px 0px 0px 0px;
}
.Twitter_mobilegridcell_11 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* tweetPicture */
.Twitter_tweetPicture {
	margin: 0px 0px 0px 0px;
	width: 78px; height: 78px;
	display: block;
}
/* innerGrid_1 */
.Twitter_innerGrid_1 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.Twitter_innerGrid_1 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* tweetFrom */
.Twitter_tweetFrom {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 5px 5px 16px 5px;
	word-wrap: break-word;
	white-space: normal;
}
/* tweetTime */
.Twitter_tweetTime {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 4px 5px 4px 5px;
	word-wrap: break-word;
	white-space: normal;
}
/* tweetText_1 */
.Twitter_tweetText_1 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Twitter_tweetText_1 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* tweetText */
.Twitter_tweetText {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilefooter */
.Twitter_mobilefooter {
	min-height:38px;
}